<div class="ui container">
  <app-serachbar (onSubmit)="getSerachTerm($event)"></app-serachbar>
  <button class="btn btn-primary" (click)="handleLogout()">Logout</button>
  <div class="ui grid">
    <div class="ui row">
      <div class="ten wide column">
        <app-mainvideo [video]="selectedVideo"></app-mainvideo>
      </div>
      <div class="five wide column">
        <app-videolist
          [videos]="videos"
          (onSelect)="onVideoSelect($event)"
        ></app-videolist>
      </div>
    </div>
  </div>
</div>
